#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='ru','us' --switch='grp:alt_shift_toggle'
# System language
lang ru_RU.UTF-8

# Network information
network  --bootproto=static --device=ens192 --gateway=10.10.15.254 --ip=10.10.15.6 --nameserver=10.10.15.254 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=S-CentOS-02

# Root password
rootpw --iscrypted $6$EwKxJgHMcjdmDQ49$i3xYlv2Ht147oq8nCRooDr8RSG1pr2vdLmSmQzN409FyHBcwQeQtABXY6fY56chd9sBz6bk7SDPafJCcV6yzq/
# System services
services --disabled="chronyd"
# System timezone
timezone Europe/Moscow --isUtc --nontp
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
